.footer {
  background-color: #2d2d2d;
  color: #999;
  text-align: center;
  padding: 2rem;
  margin-bottom: 0;
  font-size: 0.9rem;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
}

.footer p {
  margin: 0;
  padding: 0;
}